body {
    background-color: #f9f9f9;
    font-size: 1rem;
}

.container {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) auto;
}

aside {
    grid-column: 1;
    height: 100vh;
    overflow: auto;
}

main {
    grid-column: 2;
    overflow: auto;
}
